*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  width: 60%;
  font-size: 1.7rem;
  text-align: center;
  font-family: "Meriweather", serif;
  background-color: #eaf6f6;
}

h1 {
  margin-top: 5rem 0 0 0;
  font-family: "Ubuntu", cursive;
  font-size: 6rem;
}

em {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 2rem;
}

li {
  text-decoration: none;
}

h1,
h2 {
  color: #66bfbf;
}

h2 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
}

h3,
a {
  color: #11999e;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.me {
  height: 12rem;
  height: 12rem;
  float: right;
  clear: left;
}

.skill-row {
  width: 50%;
  margin: 2rem auto;
  text-align: left;
  line-height: 2;
}
.work {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  clear: right;
}

.job {
  font-weight: normal;
}

.top-container {
  padding-top: 10rem;
}

.author {
  display: flex;
  justify-content: center;
}

.middle-container {
}

.bottom-container {
  background-color: #66bfbf;
}

.skills h2 {
  margin-top: 4rem;
}

.logo {
  padding-left: 2em;
}

.list {
  text-align: left;
  margin: 0 0;
}

.btn {
  border: 1px solid black;
  padding-bottom: 0.5rem;
}

.btn:hover {
  border: 1px solid green;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-family: "Ubuntu", cursive;
  font-size: 2.5rem;
  font-weight: bold;
}

.family {
  width: 100%;
}
