*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.7rem;
  text-align: center;
  font-family: "Meriweather", serif;
  background-color: #eaf6f6;
}

h1 {
  color: #66bfbf;
  margin-top: 0;
  font-family: "Ubuntu", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.top-container {
  padding-top: 10rem;
}

.me {
  border-radius: 50%;
  height: 10rem;
}

.top-work {
}

.author {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.middle-container {
}

.bottom-container {
}

.work {
  position: relative;
  top: -10rem;
}
