body {
  background-color: #97be5a;
}

h1,
h3 {
  color: #ee4e4e;
}

p,
td,
th {
  color: #f6eec9;
}

nav ul {
  display: flex;
  gap: 2rem;
  border: 2px solid #799351;
  width: fit-content;
  list-style-type: none;
  align-content: center;
}

hr {
  border: none;
  width: 10%;
  border-top-style: dotted;
  border-color: #799351;
  border-width: 5px;
}
